<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main class="container">
    <form th:action="${consulta.id == null} ? @{/consultas/save} : @{/consultas/update}" th:object="${consulta}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="datetime-local" th:field="*{data}" placeholder="Data" th:errorclass="is-invalid">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></label>
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="number" th:field="*{valor}" placeholder="Valor" th:errorclass="is-invalid">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></label>
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{observacao}" placeholder="Observaçao" th:errorclass="is-invalid">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('observacao')}" th:errors="*{observacao}"></label>
            </div>
            <select id="pacientes"  th:field="*{paciente.id}" class="form-select mt-2" th:errorclass="is-invalid">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('paciente')}" th:errors="*{paciente}"></label>
                <option value="">Selecione o paciente...</option>
                <option th:each="p : ${pacientes}"
                        th:value="${p.id}"
                        th:text="${p.nome}">
                </option>
            </select>
            <select id="medicos" th:field="*{medico.id}" class="form-select mt-2" th:errorclass="is-invalid">
                <option value="">Selecione o medico...</option>
                <option th:each="m : ${medicos}"
                        th:value="${m.id}"
                        th:text="${m.nome}">
                </option>
                <label class="invalid-feedback" th:if="${#fields.hasErrors('medico')}" th:errors="*{medico}"></label>
            </select>
            <div class="mb-2 col-lg-6">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</main>

</body>
</html>
