<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main class="container">
<h1>Lista de Consultas</h1>
    <a href="/consultas/form">Adicionar</a>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>valor</th>
        <th colspan="3">Observação</th>
    </tr>
    <tr th:each="v : ${consultas}">
        <td th:text="${v.id}"> </td>
        <td th:text="${v.data}"> </td>
        <td th:text="${v.valor}"> </td>
        <td th:text="${v.observacao}"> </td>
        <td sec:authorize="hasAnyRole('ADMIN')" > <a th:href="@{/consultas/edit/{id}(id=${v.id})}">Editar</a> </td>
        <td sec:authorize="hasAnyRole('ADMIN')"  > <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/consultas/remove/{id}(id=${v.id})}">Excluir</a> </td>
    </tr>
    </tr>

</table>
    </main>
</body>
</html>