<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<main class="container">
    <img src="https://static.vecteezy.com/ti/vetor-gratis/p3/565396-de-icones-de-modelo-de-logotipo-e-simbolos-de-hospital-gratis-vetor.jpg" class="img-fluid" alt="Hospital Center">
<!--    <div class="container text-center">Home</div>-->
<!--    <a class="navbar-brand" href="medicos/list">Consultar medicos</a>-->
<!--    <br>-->
<!--    <a class="navbar-brand" href="medicos/form">Cadastrar medicos</a>-->
<!--    <br>-->
<!--    <a class="navbar-brand" href="pacientes/list">Consultar pacientes</a>-->
<!--    <br>-->
<!--    <a class="navbar-brand" href="pacientes/form">Cadastrar pacientes</a>-->
<!--    <br>-->
<!--    <a class="navbar-brand" href="consultas/list">Consultar consultas</a>-->
<!--    <br>-->
<!--    <a class="navbar-brand" href="consultas/form">Cadastrar consultas</a>-->
</main>
</body>
</html>
